pkgbase = chatterino2-dankerino-git
	pkgdesc = Fork of Chatterino 2
	pkgver = 2024.07.16
	pkgrel = 1
	url = https://github.com/Mm2PL/dankerino
	arch = any
	license = MIT
	makedepends = git
	makedepends = boost
	makedepends = cmake
	depends = qt6-base
	depends = qt6-tools
	depends = boost-libs
	depends = openssl
	depends = qt6-imageformats
	depends = qtkeychain-qt6
	depends = qt6-5compat
	depends = qt6-svg
	optdepends = streamlink: For piping streams to video players
	optdepends = pulseaudio: For audio output
	provides = chatterino
	conflicts = chatterino
	options = !lto
	source = git+https://github.com/Mm2PL/dankerino.git#tag=nightly-build
	sha512sums = f0da04f1ea5511cc9cd0f348da8b0e655cf92aa5ba32aa8dee9665372f85a4c312dd257d55a3e43c488d33be366361d2b1b3b107a1b6a6c4edbd4080ef0125e6

pkgname = chatterino2-dankerino-git
