pkgbase = chatterino2-dankerino-git
	pkgdesc = Fork of Chatterino 2
	pkgver = 2023.03.28
	pkgrel = 1
	url = https://github.com/Mm2PL/dankerino
	arch = any
	license = MIT
	makedepends = git
	makedepends = qt5-svg
	makedepends = boost
	makedepends = cmake
	depends = qt5-base
	depends = qt5-tools
	depends = boost-libs
	depends = openssl
	depends = qt5-imageformats
	depends = qtkeychain-qt5
	optdepends = streamlink: For piping streams to video players
	optdepends = pulseaudio: For audio output
	provides = chatterino
	conflicts = chatterino
	source = git+https://github.com/Mm2PL/dankerino.git#tag=nightly-build
	sha512sums = SKIP

pkgname = chatterino2-dankerino-git
