pkgbase = chatterino2-dankerino-git
	pkgdesc = Fork of Chatterino 2
	pkgver = 2025.01.17
	pkgrel = 1
	url = https://github.com/Mm2PL/dankerino
	arch = any
	license = MIT
	makedepends = git
	makedepends = boost
	makedepends = cmake
	depends = qt6-base
	depends = qt6-tools
	depends = boost-libs
	depends = openssl
	depends = qt6-imageformats
	depends = qtkeychain-qt6
	depends = qt6-5compat
	depends = qt6-svg
	optdepends = streamlink: For piping streams to video players
	optdepends = pulseaudio: For audio output
	provides = chatterino
	conflicts = chatterino
	options = !lto
	source = git+https://github.com/Mm2PL/dankerino.git#tag=nightly-build
	sha512sums = 635ada269b9aeb41c4cc3161d6552712c7185ce647c3917c9e831a9d273bd0c5f61985c702e4f17fc7554d21af3e4e88e14b0490a74868b3a5f92181f5255f66

pkgname = chatterino2-dankerino-git
